// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

}

h1 {
  margin-top: 30px;
  padding: 0;
}

h3 {
  margin: 15px 0 5px 0;
  padding: 0;
}

h4 {
  margin: 20px 0 5px 0;
  padding: 0;
}

.priority {
  margin-left: -20px;
}

// FORM VALIDATION STYLES

.ng-invalid.ng-dirty {
  border-color: #FA787E;
}

.ng-valid.ng-dirty {
  border-color: #78FA89;
}

.taskInput {
  width: 400px;
}

.tasksRow {
  margin-bottom: 20px;

}

.todo {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.task-complete {
  text-decoration: line-through;
}

.desc {
  background-color: #DEF5FA;
}

.completed_link {
  margin-top: 48px;
  margin-right: -50px;
  padding: 0;
  cursor: pointer;
}
