<div class="row">
  <div class="col-md-6">
    <h1>Current Tasks</h1>
  </div>
  <div class="col-md-4">
    <p class="completed_link">
      <a ui-sref="completedTasks">
      Completed/Expired Tasks
      </a>
    </p>
</div>

<div class="row">
  <div class="col-md-12">
    <form ng-submit="addTask()" class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control taskInput" ng-model="newTask.desc" placeholder="What do you want to do?">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" ng-model="newTask.priority" placeholder="1(high), 2(med), 3(low)">
      </div>
      <button type="submit" class="btn btn-default">Add</button>
    </form>
  </div>
</div>

<div class="row">

  <div class="col-md-8">
    <h3>Task</h3>
  </div>

  <div class="col-md-4">
    <h4>Priority</h4>
  </div>

</div>

<div class="row tasksRow" ng-repeat="(id, task) in tasks | filter:filterActiveTasks | orderBy:'priority'">

  <div class="col-md-8 todo desc" ng-click="completeTask($index); taskComplete = !taskComplete" ng-class="{'task-complete' : taskComplete}">
    {{ task.desc }}
  </div>

  <div class="col-md-4 todo priority">
    {{ task.priority }}
  </div>

<!--
  <div class="col-md-8 todo desc">
    <ul>

       <li ng-repeat="(id, task) in tasks | filter:filterActiveTasks | orderBy:'priority'" ng-click="completeTask($index); taskComplete = !taskComplete" ng-class="{'task-complete' : taskComplete}">
      
        {{ task.desc }} 
      </li>
    </ul>
  </div>

  <div class="col-md-4 todo priority">
    <ul>
      <li ng-repeat="(id, task) in tasks | filter:filterActiveTasks | orderBy:'priority'" class="">
        {{ task.priority }} 
      </li>
    </ul>
  </div>
-->
</div>